@using BTCPayServer.Plugins.LNbank.Authentication
@model BTCPayServer.Plugins.LNbank.Data.Models.Wallet

<div class="sticky-header-setup"></div>
<div class="sticky-header d-flex flex-wrap align-items-center justify-content-between gap-3">
    <a asp-page="/Wallets/Wallet" asp-route-walletId="@Model.WalletId" class="unobtrusive-link" id="LNbank-WalletOverview">
        <h2 class="my-1">@Model.Name</h2>
        <div class="text-muted fw-semibold" id="LNbank-WalletBalance">
            @Helpers.Sats(Model.Balance)
        </div>
    </a>
    <div class="d-flex gap-3">
        <a asp-page="/Wallets/Send" asp-route-walletId="@Model.WalletId" class="btn btn-primary d-inline-flex align-items-center" id="LNbank-WalletSend" permission="@LNbankPolicies.CanSendMoney">
            Send
        </a>
        <a asp-page="/Wallets/Receive" asp-route-walletId="@Model.WalletId" class="btn btn-primary d-inline-flex align-items-center" id="LNbank-WalletReceive" permission="@LNbankPolicies.CanCreateInvoices">
            Receive
        </a>
        <a asp-page="/Wallets/Details" asp-route-walletId="@Model.WalletId" class="btn btn-secondary d-inline-flex align-items-center" id="LNbank-WalletSettings" permission="@LNbankPolicies.CanManageWallet">
            @await Component.InvokeAsync("Icon", new { symbol = "settings" })
        </a>
    </div>
</div>

<partial name="_StatusMessage" />
