@using BTCPayServer.Plugins.LNbank.Services.Wallets
@using Microsoft.AspNetCore.Identity
@using BTCPayServer.Data
@inject WalletRepository _walletRepository;
@inject UserManager<ApplicationUser> _userManager;
@{
    var userId = _userManager.GetUserId(User);
    var wallets = await _walletRepository.GetWallets(new WalletsQuery
    {
        UserId = new[] { userId }
    });
}
<li class="nav-item">
    <a href="/plugins/lnbank/wallets" class="nav-link js-scroll-trigger @ViewData.IsActivePage(LNbankNavPages.Wallets)" id="Nav-LNbank">
        <svg role="img" class="icon icon-lnbank" viewBox="0 0 24 24">
            <path d="M8.30766 4.61523H15.6923C17.723 4.61523 19.3846 6.27677 19.3846 8.30754V15.6922C19.3846 17.7229 17.723 19.3845 15.6923 19.3845H8.30766C6.27689 19.3845 4.61536 17.7229 4.61536 15.6922V8.30754C4.61536 6.27677 6.27689 4.61523 8.30766 4.61523Z" fill="none" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10" /><path d="M17.57 10.7c-.1-.23-.27-.34-.5-.34h-4.3l.5-3.76a.48.48 0 0 0-.33-.55.52.52 0 0 0-.66.17l-5.45 6.54a.59.59 0 0 0-.05.6c.1.17.27.28.49.28h4.3l-.49 3.76c-.05.22.11.5.33.55.06.05.17.05.22.05a.5.5 0 0 0 .44-.22l5.45-6.54c.1-.17.16-.39.05-.55Z" fill="currentColor" style="transform:scale(.75);transform-origin:50%;"/>
        </svg>
        <span>LNbank</span>
    </a>
</li>
@foreach (var wallet in wallets)
{
    <li class="nav-item" style="padding-left:calc(1.5rem + var(--btcpay-space-xs))">
        <a href="/plugins/lnbank/wallets/@wallet.WalletId" class="nav-link js-scroll-trigger @ViewData.IsActivePage(LNbankNavPages.Wallet, wallet.WalletId) @ViewData.IsActivePage(LNbankNavPages.WalletSettings, wallet.WalletId) @ViewData.IsActivePage(LNbankNavPages.WalletAccessKeys, wallet.WalletId)" id="Nav-LNbank-Wallet-@wallet.WalletId">
            <span>@wallet.Name</span>
        </a>
    </li>
}
