@page "/plugins/lnbank/wallets/{walletId}/transactions/details/{transactionId}"
@inject BTCPayServer.Abstractions.Services.Safe Safe
@model BTCPayServer.Plugins.LNbank.Pages.Transactions.DetailsModel

@{
    ViewData.SetActivePage(LNbankNavPages.Wallet, Model.Transaction.Description, Model.Wallet.WalletId);
}

<partial name="_WalletHeader" model="Model.Wallet"/>

<div class="mb-4">
    <h2 id="LNbank-TransactionTitle">@ViewData["Title"]</h2>
    @if (Model.Transaction.IsPaid || Model.Transaction.IsSettled)
    {
        <h3 id="LNbank-TransactionSettled" class="text-@(Model.Transaction.AmountSettled > 0 ? "success" : "danger")">
            @Helpers.Sats(Model.Transaction.AmountSettled)
            @Model.Transaction.Status
        </h3>
        <h4 class="h4 text-muted">
            @if (Model.Transaction.IsSettled)
            {
                <span>
                    Paid
                    @Model.Transaction.PaidAt?.ToBrowserDate(ViewsRazor.DateDisplayFormat.Relative)
                </span>
            }
            else
            {
                <span>Awaiting confirmation</span>
            }
        </h4>
        <dl class="row" id="LNbank-TransactionDetails">
            <dt class="col-sm-3 col-xl-2">
                @Html.DisplayNameFor(model => model.Transaction.Description)
            </dt>
            <dd class="col-sm-9 col-xl-10 d-inline-flex align-items-center gap-2">
                <span id="LNbank-TransactionDescription">@Model.Transaction.Description</span>
                <a asp-page="./Edit" asp-route-walletId="@Model.Wallet.WalletId" asp-route-transactionId="@Model.Transaction.TransactionId">
                    Edit
                </a>
            </dd>
            <dt class="col-sm-3 col-xl-2">
                @Html.DisplayNameFor(model => model.Transaction.PaidAt)
            </dt>
            <dd class="col-sm-9 col-xl-10" id="LNbank-TransactionPaidAt">
                @Model.Transaction.PaidAt?.ToBrowserDate()
            </dd>
            <dt class="col-sm-3 col-xl-2">
                @Html.DisplayNameFor(model => model.Transaction.PaymentRequest)
            </dt>
            <dd class="col-sm-9 col-xl-10 text-break">
                <span class="text-truncate d-block" style="max-width:400px">@Model.Transaction.PaymentRequest</span>
            </dd>
            <dt class="col-sm-3 col-xl-2">
                @Html.DisplayNameFor(model => model.Transaction.PaymentHash)
            </dt>
            <dd class="col-sm-9 col-xl-10">
                @Model.Transaction.PaymentHash
            </dd>
            @if (!string.IsNullOrEmpty(Model.Transaction.Preimage))
            {
                <dt class="col-sm-3 col-xl-2">
                    @Html.DisplayNameFor(model => model.Transaction.Preimage)
                </dt>
                <dd class="col-sm-9 col-xl-10">
                    @Model.Transaction.Preimage
                </dd>
            }
        </dl>
    }
    else
    {
        <h3 id="LNbank-TransactionAmount" class="text-@Helpers.TransactionStateClass(Model.Transaction)">
            @Helpers.Sats(Model.Transaction.Amount)
            @Model.Transaction.Status
        </h3>
        @if (!Model.Transaction.IsCancelled)
        {
            <h4 class="h4 text-muted">
                @(Model.Transaction.IsExpired ? "Expired" : "Expires")
                @Model.Transaction.ExpiresAt.ToBrowserDate(ViewsRazor.DateDisplayFormat.Relative)
            </h4>
        }

        @if (!Model.Transaction.IsExpired && !Model.Transaction.IsCancelled)
        {
            <div class="qrcode mt-4" data-clipboard-confirm-element="LNbank-QRText" data-clipboard="@Model.Transaction.PaymentRequest" id="LNbank-QRContainer">
                @await Component.InvokeAsync("QRCode", new { data = Model.Transaction.PaymentRequest })
            </div>
            <div class="mt-2 mb-4">
                <small id="LNbank-QRText" class="qrtext">Scan the QR code, or tap to copy the address.</small>
            </div>
            <div class="mt-4">
                <button class="btn btn-secondary me-2 mb-2" type="button" data-clipboard="@Url.PageLink("/Transactions/Share", null, new { transactionId = Model.Transaction.TransactionId })" id="LNbank-CopyShareUrl">Copy public share URL</button>
            </div>

            <script>
                (function () {
                    window.LNbank.hubs.push({
                        id: 'transaction',
                        handlers: {
                            'transaction-update': data => {
                                if (data.transactionId === @Safe.Json(Model.Transaction.TransactionId)) {
                                    window.location.reload();
                                }
                            }
                        }
                    })
                })()
            </script>
        }
    }
</div>
