@page "/plugins/lnbank/wallets"
@model BTCPayServer.Plugins.LNbank.Pages.Wallets.IndexModel

@{
    ViewData.SetActivePage(LNbankNavPages.Wallets, "LNbank Wallets");
}

<div class="sticky-header-setup"></div>
<div class="sticky-header d-flex flex-wrap align-items-center justify-content-between gap-3">
    <div>
        <h2 class="my-1">@ViewData["Title"]</h2>
        <div class="text-muted fw-semibold" id="LNbank-WalletBalance">
            @Helpers.Sats(Model.TotalBalance)
        </div>
    </div>
    @if (Model.IsReady)
    {
        <div class="d-flex gap-3">
            <a asp-page="./Create" class="btn btn-primary" id="LNbank-CreateWallet">
                Create a wallet
            </a>
        </div>
    }
</div>

<partial name="_StatusMessage" />

@if (Model.Wallets.Any())
{
    <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 row-cols-xxl-4 g-3" id="LNbank-Wallets">
        @foreach (var wallet in Model.Wallets)
        {
            <div class="col">
                <div class="card">
                    <a asp-page="./Wallet" asp-route-walletId="@wallet.WalletId" class="card-body text-decoration-none">
                        <h5 class="card-title">@wallet.Name</h5>
                        <div class="card-text d-flex flex-wrap align-items-center justify-content-between gap-2">
                            <span class="badge bg-light fs-6">
                                @Helpers.Sats(wallet.Balance)
                            </span>
                            <span class="text-muted">
                                @wallet.Transactions.Count transaction@(wallet.Transactions.Count == 1 ? "" : "s")
                            </span>
                        </div>
                    </a>
                </div>
            </div>
        }
    </div>
}
else
{
    <p id="LNbank-Wallets" class="text-secondary">There are no wallets yet.</p>
}

